
@font-face {
  font-family: arciform;
  src: url(../fonts/Arciform.otf);
}

body {
  font-family: arciform !important;
}

.bg-pretoroxov {
  background-color: #251f4a !important;
}

.text-pretoroxov{
  color: #251f4a;
}
.text-pretoroxov:hover{
  color: #191533;
}

.btn-pretoroxov{
  color: white;
  background-color: #251f4a;
}

.btn-pretoroxov:hover{
  color: white;
  background-color: #191533;
}

